{% extends 'base.admin.html.twig' %}

{% block title %}Editer le mot de passe de {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block page %}
        <div class="pagetitle">
      <h1>Inscription</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Liste</a></li>
          <li class="breadcrumb-item active">Edition mot de passe</li>
        </ol>
      </nav>
    </div>
{% endblock %}

{% block body %}

 <div class="container">
            <div class="content">
            <div class="row">
            <div class="col-lg-6">
              <h5  class="card-title">Modifier le mot de passe de {{ user.prenom }} {{ user.nom }}</h5>
            </div>

            </div>
            </div>

            <div class="card p-4">
            <div class="container">
            <div class="row g-3 needs-validation" novalidate>
              {{ form(form) }}
            </div><br>
              <div><a href="{{ path("admin_user_detail", {"id": user.id}) }}" class="btn btn-outline-dark">Retour</a></div>
            </div>
            </div>
          
{% endblock %}
