{% extends 'base.admin.html.twig' %}

{% block title %}Liste des inscripts{% endblock %}

{% block body %}
    <div class="card-body">
              <h2 class="card-title">Liste de tout les inscripts sur le site</h2>
              <!-- Bordered Table -->
              <table class="table table-bordered border-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <th scope="row">{{ user.numero }}</th>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.dateCreation|date("m-d-Y") }}</td>
                    <td><a href="{{ path("admin_user_detail", {"id": user.id}) }}" title="Clique pour voir les detail de cet inscript" class="btn btn-outline-primary btn-sm">Détails</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
    </div>

{% endblock %}
