<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Connexion</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ asset("assets/img/favicon.png") }}" rel="icon">
  <link href="{{ asset("assets/img/apple-touch-icon.png") }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset("asset/assets/vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/bootstrap-icons/bootstrap-icons.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/boxicons/css/boxicons.min.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/quill/quill.snow.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/quill/quill.bubble.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/remixicon/remixicon.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/simple-datatables/style.css") }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset("asset/assets/css/style.css") }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{{ path("main_accueil") }}" class="logo d-flex align-items-center w-auto">
                  <img src="{{ asset("assets/img/logo.png") }}" alt="">
                  <span class="d-none d-lg-block">Colloque International</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Connexion</h5>
                    <p class="text-center small">Entrer vos informations</p>
                  </div>
                  <div class="row g-3 needs-validation" novalidate>
  
                    <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous etes déja connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
                        </div>
                    {% endif %}

                    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
                    <label for="inputEmail">Votre email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
                    
                    <label for="inputPassword">Votre mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                          value="{{ csrf_token('authenticate') }}"
                    >
                <br>
                    <button class="btn btn-lg btn-primary btn btn-sm" type="submit">
                       Connexion
                    </button>
                </form>
                  
                    <div class="col-12">
                    <div class="row mb-3">
                  {# <label class="col-sm-2 col-form-label">Select</label> #}
                </div>
                    <div class="col-12">
                      <p class="small center mb-0">Je n'ai pas de compte <a href="{{ path("inscription") }}">Inscription</a></p>
                    </div><br>
                    {# <div class="col-12">
                      <p class="small center mb-0">J'ai perdu mon mot de passe <a href="{{ path("app_forgot_password_request") }}">Recuperer</a></p>
                    </div> #}
                </div>
                    {# <div class="col-12">
                      <button class="btn btn-primary w-100" name="inscription" type="submit" value="">
                      Inscription
                    </button> #}
                    </div>
                  </div>

                </div>
              {# <div class="credits"> #}
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                {# Besoin d'aide ? <a href="https://bootstrapmade.com/">Nous contacter</a> #}
              {# </div> #}
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <!-- Vendor JS Files -->
  <script src="{{ asset("asset/assets/vendor/apexcharts/apexcharts.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/chart.js/chart.umd.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/echarts/echarts.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/quill/quill.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/simple-datatables/simple-datatables.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/tinymce/tinymce.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/php-email-form/validate.js") }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset("asset/assets/js/main.js") }}"></script>

</body>

</html>
