<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ asset("assets/img/favicon.png") }}" rel="icon">
  <link href="{{ asset("assets/img/apple-touch-icon.png") }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset("asset/assets/vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/bootstrap-icons/bootstrap-icons.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/boxicons/css/boxicons.min.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/quill/quill.snow.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/quill/quill.bubble.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/remixicon/remixicon.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/simple-datatables/style.css") }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset("asset/assets/css/style.css") }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{{ asset("assets/img/logo.png") }}" alt="">
                  <span class="d-none d-lg-block">Colloque International</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Inscription</h5>
                    <p class="text-center small">Entrer vos informations</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="nom" class="form-label">Votre nom</label>
                      <input type="text" name="nom" class="form-control" id="nom" required>
                      <div class="invalid-feedback">Veuillez entre votre nom svp</div>
                    </div>

                    <div class="col-12">
                      <label for="prenom" class="form-label">Votre prenom</label>
                      <input type="text" name="prenom" class="form-control" id="prenom" required>
                      <div class="invalid-feedback">Veuillez entre votre prenom svp</div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Votre email</label>
                      <input type="email" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Veuillez entre votre email svp</div>
                    </div>

                    <div class="col-12">
                      <label for="motdepasse" class="form-label">Votre mot de passe</label>
                      <input type="password" name="password" class="form-control" id="motdepasse" required>
                      <div class="invalid-feedback">Veuillez entre votre mot de passe svp</div>
                    </div>

                  <div class="col-sm-12">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Choisir l'axe dans lequel vous intervenez</option>
                      <option value="1">Axe 1 : Savoirs endogènes, préservation de la biodiversité et gestion durable des terres : restauration, 
                      conservation, protection et valorisation…</option>
                      <option value="2">Axe 2 : Savoirs endogènespour comprendre les mathématiques, la chimie et la physique.</option>
                      <option value="3">Axe 3 : Langues nationales et intégration des savoirs locaux dans le système éducatif.</option>
                      <option value="3">Axe 4 : Savoirs endogènes, croyances et spiritualités </option>
                      <option value="3">Axe 5 : Savoirs endogène, pharmacopée et médecine</option>
                      <option value="3">Axe 6 : Savoirs endogènes et développement socioéconomique.</option>
                      <option value="3">Axe 7 : Savoirs endogènes, sciences juridiques et politiques.</option>
                      <option value="3">Axe 8 : Savoirs endogènes dans le domaine des arts et lettres</option>
                      <option value="3">Axe 9 : Aucun</option>
                    </select>
                  </div>

                  <div class="col-12">
                      <label for="communicatio" class="form-label">Entrer votre communication</label>
                      <input type="file" name="communication" class="form-control" id="communication" required>
                      {# <div class="invalid-feedback">Veuillez entre votre mot de passe svp</div> #}
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Votre le resuler de votre communication</label>
                      <input type="file" name="resumer" class="form-control" id="resumer" required>
                      {# <div class="invalid-feedback">Veuillez entre votre mot de passe svp</div> #}
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Image de votre payement</label>
                      <input type="file" name="imagePayement" class="form-control" id="payement" required>
                      {# <div class="invalid-feedback">Veuillez entre votre mot de passe svp</div> #}
                    </div>
                  
                    <div class="col-12">
                    <div class="row mb-3">
                  {# <label class="col-sm-2 col-form-label">Select</label> #}
                </div>
                </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">J'accept les termes et conditions <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">Cette case est obligatoire</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Inscription</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Jai deja un compte <a href="pages-login.html">Se connecter</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Besoin d'aide ? <a href="https://bootstrapmade.com/">Nous contacter</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <!-- Vendor JS Files -->
  <script src="{{ asset("asset/assets/vendor/apexcharts/apexcharts.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/chart.js/chart.umd.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/echarts/echarts.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/quill/quill.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/simple-datatables/simple-datatables.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/tinymce/tinymce.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/php-email-form/validate.js") }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset("asset/assets/js/main.js") }}"></script>

</body>

</html>