{% extends 'base.user.html.twig' %}

{% block title %}Parametre du compte
{% endblock %}

{% block page %}
	<div class="pagetitle">
		<h1>Parametre du compte</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Parametre</a>
				</li>
				<li class="breadcrumb-item active"></li>
			</ol>
		</nav>
	</div>
{% endblock %}

{% block body %}
	<div class="card-body">
		<h2 class="card-title">Modifier les informations de votre compte</h2>
		<!-- Bordered Table -->
		<section class="section profile">
			<div class="row">

				<div class="col-xl-12">

					<div class="card">
						<div
							class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered">

								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Profil</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edition</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Mot de passe</button>
								</li>

							</ul>
							<div class="tab-content pt-2">

								<div class="tab-pane fade show active profile-overview" id="profile-overview">

									<h5 class="card-title">Detail de votre profil</h5>

									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Votre Nom</div>
										<div class="col-lg-9 col-md-8">{{app.user.nom}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Votre Prenom</div>
										<div class="col-lg-9 col-md-8">{{app.user.prenom}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Votre Axe</div>
										<div class="col-lg-9 col-md-8">{{app.user.axe.nom}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Date d'inscription</div>
										<div class="col-lg-9 col-md-8">{{app.user.dateCreation|date("d-m-Y")}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Resumer déposer ?</div>
										{% if app.user.resume == '' %}
											<div class="col-lg-9 col-md-8">Aucun</div>
										{% else %}
											<div class="col-lg-9 col-md-8">OUI</div>
										{% endif %}

									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">A payer</div>
										{% if app.user.imagePayement != '' %}
											<div class="col-lg-9 col-md-8">OUI</div>
										{% else %}
											<div class="col-lg-9 col-md-8">Non, pas encore</div>
										{% endif %}
									</div>

								</div>

								<div
									class="tab-pane fade profile-edit pt-3" id="profile-edit">

									<!-- Profile Edit Form -->
									<form action="{{ path("user_editer_profif") }}" method="POST">
										<div class="row mb-3">
											<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Editer votre nom</label>
											<div class="col-md-8 col-lg-9">
												<input name="nom" type="text" class="form-control" id="fullName" value="{{app.user.nom}}">
											</div>
										</div>


										<div class="row mb-3">
											<label for="company" class="col-md-4 col-lg-3 col-form-label">Editer votre prenom</label>
											<div class="col-md-8 col-lg-9">
												<input name="prenom" type="text" class="form-control" id="company" value="{{app.user.prenom}}">
											</div>
										</div>

										<div class="row mb-3">
                                        
											{% if app.user.imagePayement != '' %}
											<label for="Address" class="col-md-4 col-lg-3 col-form-label">Modifier l'axe</label>
											<div class="col-md-8 col-lg-9">
												<a href="{{ path("user_editer_axe") }}" class="btn btn-primary btn-sm">Editer</a>
											</div>
                                        {% else %}
											<label for="Address" class="col-md-4 col-lg-3 col-form-label">Vous n'avez pas d'axe</label>
                                        {% endif %}
										</div>

										<div class="row mb-3">
											{% if app.user.resume != '' %}
												<label for="Country" class="col-md-4 col-lg-3 col-form-label">Renvoyez votre resumer</label>
											<div class="col-md-8 col-lg-9">
												<a href="{{ path("user_editer_resumer") }}" class="btn btn-primary btn-sm">Commencer</a>
											</div>
											{% else %}
												<label for="Country" class="col-md-4 col-lg-3 col-form-label">Vous n'avez pas de resumer déja envoyé</label>
											{% endif %}
										</div>

										<div class="row mb-3">
                                        {% if app.user.imagePayement == '' %}
											<label for="Address" class="col-md-4 col-lg-3 col-form-label">Envoyez/Renvoyez l'image de payement</label>
                                        {% else %}
											<label for="Address" class="col-md-4 col-lg-3 col-form-label">Modifier l'image de payement</label>
                                        {% endif %}
											<div class="col-md-8 col-lg-9">
												<a href="{{ path("user_editer_imagePayement") }}" class="btn btn-primary btn-sm">Commencer</a>
											</div>
										</div>

										<div class="text-center">
											<input type="submit" name="modifierInformation" class="btn btn-primary" value="Sauvegarder mes nouvelles informations"/>
										</div>
									</form>
									<!-- End Profile Edit Form -->

								</div>


								<div
									class="tab-pane fade pt-3" id="profile-change-password">
									<!-- Change Password Form -->
									<form>

										<div class="row mb-3">
											<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nouveau mot de passe</label>
											<div class="col-md-8 col-lg-9">
												<input name="newpassword" type="password" class="form-control" id="newPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Repeter le mot de passe</label>
											<div class="col-md-8 col-lg-9">
												<input name="renewpassword" type="password" class="form-control" id="renewPassword">
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">Change Password</button>
										</div>
									</form>
									<!-- End Change Password Form -->

								</div>

							</div>
							<!-- End Bordered Tabs -->

						</div>
					</div>

				</div>
			</div>
		</section>
	</div>

{% endblock %}
