{% extends 'base.user.html.twig' %}

{% block title %}Discussion avec l'administration
{% endblock %}

{% block page %}
	<div class="pagetitle">
		<h1>Discussion</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Discussion</a>
				</li>
				<li class="breadcrumb-item active"></li>
			</ol>
		</nav>
	</div>
{% endblock %}

{% block body %}
	<div class="card-body">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="clearfix mb-3">
						<div class="col-lg-6">
							<h2 class="card-titl">Discussion avec les adminisatrateurs</h2>
						</div>
						<div class="col-lg-6">
							<a href="{{ path("user_discussion_message") }}" class="btn btn-outline-primary btn btn-sm float-rigth">Commencer un discussion</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bordered Table -->
		<section class="section">
			<div class="row align-items-top">
				<div class="card p-5">
						{% for message in messages %}
					<div class="card">
							<div
						class="col-lg-6">

						<!-- Default Card -->
						<div class="card p-2">
							<div class="card-body">
								<h3 class="card-titl">Mon message <a href="{{ path("user_edition_message", {"id": message.id}) }}" class="btn btn-outline-primary btn btn-sm">Editer mon message</a></h3><hr>
								<h4>{{message.contenu}}
								</h4>
								<span class='float-rigth'>
									<strong>Envoyez le : {{message.dateCreation|date("d/m/y")}}</strong>
								</span>
							</div><br>
							<!-- End Default Card -->
						</div>

						{% for reponse in reponses %}
							<div class="card alert alert-secondary">
							<div class="card-body">
								<h3 class="card-titl">Reponse des administrateurs</h3><hr>
								<h4>{{reponse.contenu}}
								</h4>
								<span class='float-rigth'>
									<strong>Repondu le : {{reponse.dateCreation|date("d/m/y")}}</strong>
								</span>
							</div><br>
							<!-- End Default Card -->
						</div>
						{% endfor %}


						<div class="card-body">
							<h4>
								<a href="" class="btn btn-primary">Repondre</a>
							</h4>
							<!-- End Default Card -->
						</div>
					</div>
					</div>
						{% endfor %}
				</div>
			</section>
		</div>

	{% endblock %}
