<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}
  {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ asset("asset/assets/img/favicon.png") }}" rel="icon">
  <link href="{{ asset("asset/assets/img/apple-touch-icon.png") }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset("asset/assets/vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/bootstrap-icons/bootstrap-icons.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/boxicons/css/boxicons.min.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/quill/quill.snow.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/quill/quill.bubble.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/remixicon/remixicon.css") }}" rel="stylesheet">
  <link href="{{ asset("asset/assets/vendor/simple-datatables/style.css") }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset("asset/assets/css/style.css") }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{ asset("asset/assets/img/logo.png") }}" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{{ asset("asset/assets/img/messages-1.jpg") }}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>


            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link d-flex align-items-center pe-0" href="{{ path("app_logout") }}">
            <span class="d-none d-md-block dropdown-toggl ps-2">Deconnection</span>
          </a><!-- End Profile Iamge Icon -->

          
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link {{ active(["admin_dashboard"]) }}" href="{{path("admin_dashboard")}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link {{ active(["admin_liste_inscription", "admin_user_detail", "admin_user_edition_password", "admin_user_edition"]) }}" title="Ouvire la liste des inscrits" href="{{path("admin_liste_inscription")}}">
          <i class="bi bi-grid"></i>
          <span>Inscription</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link {{ active(["admin_poster", ""]) }}" title="Ouvire la liste des Exposant" href="{{path("admin_poster")}}">
          <i class="bi bi-grid"></i>
          <span>Posters</span>
        </a>
      </li>

            <li class="nav-item">
        <a class="nav-link {{ active(["admin_participant", "admin_participant_detail", "admin_edition_participant"]) }}" title="Ouvire la liste des Exposant" href="{{path("admin_participant")}}">
          <i class="bi bi-grid"></i>
          <span>Participants</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
            <li class="nav-item">
        <a class="nav-link {{ active(["admin_liste_inscription_exposants", "admin_exposant_detail", "admin_edition_exposant"]) }}" title="Ouvire la liste des Exposant" href="{{path("admin_liste_inscription_exposants")}}">
          <i class="bi bi-grid"></i>
          <span>Exposants</span>
        </a>
      </li>
      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

  {% block page %}
    
  {% endblock %}
<!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        {% block body %}
          
        {% endblock %}
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ asset("asset/assets/vendor/apexcharts/apexcharts.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/chart.js/chart.umd.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/echarts/echarts.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/quill/quill.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/simple-datatables/simple-datatables.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/tinymce/tinymce.min.js") }}"></script>
  <script src="{{ asset("asset/assets/vendor/php-email-form/validate.js") }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset("asset/assets/js/main.js") }}"></script>
</body>

</html>