{% extends 'base.admin.html.twig' %}

{% block title %}Liste des inscrits{% endblock %}

{% block page %}
        <div class="pagetitle">
      <h1>Les Exposants</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Liste</a></li>
          <li class="breadcrumb-item active">Detail</li>
        </ol>
      </nav>
    </div>
{% endblock %}

{% block body %}

    
            <div class="container">
            <div class="content">
            <div class="row">
            <div class="col-lg-6">
              <h5  class="card-title">Plus de detail sur {{ exposant.prenom }} {{ exposant.nom }}</h5>
            </div>

            </div>
            </div>

              <!-- List group With Icons -->
            <div class="card p-4">
              <ul class="list-group">
                <li class="list-group-item"><i class="bi bi-bookmark-plus-fill me-1 text-primary"></i> Nom: {{ exposant.nom }}</li>
                <li class="list-group-item"><i class="bi bi-bookmarks-fill me-1 text-primary"></i> Prenom: {{ exposant.prenom }}</li>
                <li class="list-group-item"><i class="bi bi-envelope-fill me-1 text-primary"></i> Email: {{ exposant.email }}</li>
                <li class="list-group-item"><i class="bi bi-telephone-fill me-1 text-primary"></i> Contact: {{ exposant.contact }}</li>
                <li class="list-group-item"><i class="bi bi-speedometer me-1 text-primary"></i> Date d'inscription: {{ exposant.dateCreation|date("m-d-Y") }}</li>
                <li class="list-group-item"><i class="bi bi-bounding-box me-1 text-warning"></i> Edition du profil: <a href="{{ path("admin_edition_exposant", {"id": exposant.id}) }}" title="Cliquez ici pour modifier les information de cette inscription" class="btn btn-outline-dark btn-sm">Editer</a></li>
                <li class="list-group-item"><i class="bi bi-telephone-fill me-1 text-primary"></i> Les produits qui seront exposer: {{ exposant.produits }}</li>
              </ul><!-- End List group With Icons -->

            </div>
            </div>
            </div>
          
{% endblock %}
