{% extends 'base.admin.html.twig' %}

{% block title %}Liste des inscrits pour une exposition{% endblock %}

{% block body %}
    <div class="card-body">
              <h2 class="card-title">Liste des inscrits pour une exposition</h2>
              <!-- Bordered Table -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for exposant in exposants %}
                  <tr>
                    <th scope="row">{{ exposant.numero }}</th>
                    <td>{{ exposant.nom }}</td>
                    <td>{{ exposant.prenom }}</td>
                    <td>{{ exposant.dateCreation|date("m-d-Y") }}</td>
                    <td><a href="{{ path("admin_exposant_detail", {"id": exposant.id}) }}" title="Clique pour voir les detail de cet inscript" class="btn btn-outline-primary btn-sm">Détails</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
    </div>

{% endblock %}
